.div1{
    display: inline-block;
    margin: 5%;
}

a{
    text-decoration: none;
    font-weight: bold;
}


  
  footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #e3f2fd;
    text-align: center;
}