.div1{
    display: inline-block;
    margin: 5%;
}

.div2{
    display: inline-block;
    /* left: 100%; */
    right: 100%;
}

.div2 .sideimg{

    width: 30%;
    height: 65%;
        
    /* position: relative; */
}