#container{
    margin-top:10%;
}

a div{
    max-width: 90rem; 
    /* background-color:#e3f2fd; */
}

#container a {text-decoration:none;color:black;}

.ans{max-width: 80rem;}

 


body{
    background: #43C6AC;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #F8FFAE, #43C6AC);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #F8FFAE, #43C6AC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}
  
.card.mb-3.question{
   color: black;
}

.card.mb-3.ans{
    color:  rgba(0, 0, 0, 0.76)
 }